@model src.Models.Repair
@{
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">View Data</h4>
</div>

<form onsubmit="return SubmitAddEdit(this)">
    <div class="box-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />

        <div class="row">
            <div class="col-lg-6 form-group">
                <label asp-for="Date">Date: </label>
                <label class="text-warning">@Model.Date.ToString("MMMM dd, yyyy / hh:mm tt")</label>
            </div>
            <div class="col-lg-6 form-group">
                <label asp-for="PlateNumber">Plate number: </label>
                <label class="text-warning">@Model.PlateNumber</label>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 form-group">
                <label asp-for="Destination">Trip/destination: </label>
                <label class="text-warning">@Model.Destination</label>
            </div>
            <div class="col-lg-6 form-group">
                <label asp-for="DriverName">Drivers name: </label>
                <label class="text-warning">@Model.DriverName</label>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 form-group">
                <label asp-for="Location">Location of repair: </label>
                <label class="text-warning">@Model.Location</label>
            </div>
            <div class="col-lg-6 form-group">
                <div class="form-group">
                    <label asp-for="RepairDetails">RepairDetails: </label>
                    <label class="text-warning">@Model.RepairDetails</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 form-group">
                <div class="form-group">
                    <label asp-for="Remarks">Remarks: </label>
                    <label class="text-warning">@Model.Remarks</label>
                </div>
            </div>
            <div class="col-lg-6 form-group">
                <div class="form-group">
                    <label asp-for="RequestNumber">Request number: </label>
                    <label class="text-warning">@Model.RequestNumber</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 form-group">
                <div class="form-group">
                    <label asp-for="RequesterName">Requester name: </label>
                    <label class="text-warning">@Model.RequesterName</label>
                </div>
            </div>
        </div>

    </div>
    <div class="box-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
    </div>
</form>
<script>
    Ladda.bind('.btn', { timeout: 1000 });
    $('.form_datetime').datetimepicker({
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
    });
</script>



