@model src.Models.Organization
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Institutional Development & Extension Services Unit";
    ApplicationUser appUser = await UserManager.GetUserAsync(User);
    Layout = "_LayoutAdminlteInstitutionalDevelopmentExtensionServicesUnit";
    var date = DateTime.Now;
    string startingMonth = "";
    var endMonth = "";
    if (date.Month <= 6)
    {
        startingMonth = "January";
        endMonth = "June";
    }
    else if (date.Month >= 7)
    {
        startingMonth = "July";
        endMonth = "December";
    }
}

    <style>

        /*body {
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 9px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}*/

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        table.fixed { table-layout:fixed; }
table.fixed td { overflow: hidden; }
    </style>

<!-- Content Header (Page header) -->
<!-- Main content -->
    <section class="content">

        @*<div class="row">*@
        <center>
            <div>BENGUET AGRI-PINOY TRADING CENTER</div>
            <div>Strawberry Fields, La Trinidad, Benguet</div> <br />

            <div><b>DIVISION PERFORMANCE COMMITMENT AND REVIEW (DPCR)</b></div>
        </center>

        <div>
            I, <b>@appUser.FullName</b>, <b>Unit Officer</b> of the <b>@appUser.RoleId</b>, commit to deliver and agree to be rated on the attainment of the following targets in
            accordance with theindicated measures for the period <b>@startingMonth</b> to <b>@endMonth @date.Year</b>.  I fully understand that poor performance executed shall
            constitute the non-renewal of my contract of services for the next term.
        </div>
        <br />
        <p class="pull-left">Approved by: </p> <br />
        <br />
        <p class="pull-left">Name of supervisor: <b>VIOLETA B. SALDA, Ph.D</b></p> <p class="pull-right">Name of employee: <b>@appUser.FullName</b></p><br />
        <br />
        <p class="pull-left">Designation: Chief Operations</p> <p class="pull-right">Unit officer @appUser.RoleId</p><br />
        <br />
        <p class="pull-left">Date: @date.ToString("MMMM yyyy")</p> <p class="pull-right">@date.ToString("MMMM dd, yyyy")</p><br />
        <br />
        <center><p>[5 - Outstanding, 4 - Very Satisfying, 3 - Satisfactory, 2 - Unsatisfactory, 1 -Poor]</p></center>

        <table class="fixed">
            <tr>
                <td>OUTPUT (Programs/ Activities/ Project/ Performance Indicator)</td>
                <td>SUCCESS INDICATOR/S (Measure/s)</td>
                <td>TARGET</td>
                <td>TIME FRAME</td>
                <td>BUDGETARY REQUIREMENT OR RESOURCES NEEDED</td>
                <td>ACTUAL ACCOMPLISHMENT</td>
                <td>RATING</td>
                <td>REMARKS</td>
            </tr>
            <tr>
                <td><textarea style="border:none"></textarea></td>
                <td><textarea style="border:none"></textarea></td>
                <td><textarea style="border:none"></textarea></td>
                @if (date.Month <= 6)
                {
                    <td>
                        <textarea style="border:none">
JAN -   
FEB -   
MARCH -   
APRIL -   
MAY -   
JUNE -   </textarea>
                    </td>
                }
                else if (date.Month >= 7)
                {
                    <td>
                        <textarea style="border:none">
JULY -   
AUG -   
SEPT -   
OCT -   
NOV -   
DEC -   </textarea>
                    </td>
                }
                <td><textarea style="border:none"></textarea></td>
                <td><textarea style="border:none"></textarea></td>
                <td>
                    <textarea style="border:none">
Q -   
E -   
T -   
A -   
</textarea>
                </td>
                <td><textarea style="border:none"></textarea></td>
            </tr>
            <tr>
                <td><textarea style="border:none"></textarea></td>
                <td><textarea style="border:none"></textarea></td>
                <td><textarea style="border:none"></textarea></td>
                @if (date.Month <= 6)
                {
                    <td>
                        <textarea style="border:none">
JAN -   
FEB -   
MARCH -   
APRIL -   
MAY -   
JUNE -   </textarea>
                    </td>
                }
                else if (date.Month >= 7)
                {
                    <td>
                        <textarea style="border:none">
JULY -   
AUG -   
SEPT -   
OCT -   
NOV -   
DEC -   </textarea>
                    </td>
                }
                <td><textarea style="border:none"></textarea></td>
                <td><textarea style="border:none"></textarea></td>
                <td>
                    <textarea style="border:none">
Q -   
E -   
T -   
A -   
</textarea>
                </td>
                <td><textarea style="border:none"></textarea></td>
            </tr>
            <tr>
                <td><textarea style="border:none"></textarea></td>
                <td><textarea style="border:none"></textarea></td>
                <td><textarea style="border:none"></textarea></td>
                @if (date.Month <= 6)
                {
                    <td>
                        <textarea style="border:none">
JAN -   
FEB -   
MARCH -   
APRIL -   
MAY -   
JUNE -   </textarea>
                    </td>
                }
                else if (date.Month >= 7)
                {
                    <td>
                        <textarea style="border:none">
JULY -   
AUG -   
SEPT -   
OCT -   
NOV -   
DEC -   </textarea>
                    </td>
                }
                <td><textarea style="border:none"></textarea></td>
                <td><textarea style="border:none"></textarea></td>
                <td>
                    <textarea style="border:none">
Q -   
E -   
T -   
A -   
</textarea>
                </td>
                <td><textarea style="border:none"></textarea></td>
            </tr>
            <tr>
                <td><textarea style="border:none"></textarea></td>
                <td><textarea style="border:none"></textarea></td>
                <td><textarea style="border:none"></textarea></td>
                @if (date.Month <= 6)
                {
                    <td>
                        <textarea style="border:none">
JAN -   
FEB -   
MARCH -   
APRIL -   
MAY -   
JUNE -   </textarea>
                    </td>
                }
                else if (date.Month >= 7)
                {
                    <td>
                        <textarea style="border:none">
JULY -   
AUG -   
SEPT -   
OCT -   
NOV -   
DEC -   </textarea>
                    </td>
                }
                <td><textarea style="border:none"></textarea></td>
                <td><textarea style="border:none"></textarea></td>
                <td>
                    <textarea style="border:none">
Q -   
E -   
T -   
A -   
</textarea>
                </td>
                <td><textarea style="border:none"></textarea></td>
            </tr>
            <tr>
                <td><textarea style="border:none"></textarea></td>
                <td><textarea style="border:none"></textarea></td>
                <td><textarea style="border:none"></textarea></td>
                @if (date.Month <= 6)
                {
                    <td>
                        <textarea style="border:none">
JAN -   
FEB -   
MARCH -   
APRIL -   
MAY -   
JUNE -   </textarea>
                    </td>
                }
                else if (date.Month >= 7)
                {
                    <td>
                        <textarea style="border:none">
JULY -   
AUG -   
SEPT -   
OCT -   
NOV -   
DEC -   </textarea>
                    </td>
                }
                <td><textarea style="border:none"></textarea></td>
                <td><textarea style="border:none"></textarea></td>
                <td>
                    <textarea style="border:none">
Q -   
E -   
T -   
A -   
</textarea>
                </td>
                <td><textarea style="border:none"></textarea></td>
            </tr>
            <tr>
                <td><textarea style="border:none"></textarea></td>
                <td><textarea style="border:none"></textarea></td>
                <td><textarea style="border:none"></textarea></td>
                @if (date.Month <= 6)
                {
                    <td>
                        <textarea style="border:none">
JAN -   
FEB -   
MARCH -   
APRIL -   
MAY -   
JUNE -   </textarea>
                    </td>
                }
                else if (date.Month >= 7)
                {
                    <td>
                        <textarea style="border:none">
JULY -   
AUG -   
SEPT -   
OCT -   
NOV -   
DEC -   </textarea>
                    </td>
                }
                <td><textarea style="border:none"></textarea></td>
                <td><textarea style="border:none"></textarea></td>
                <td>
                    <textarea style="border:none">
Q -   
E -   
T -   
A -   
</textarea>
                </td>
                <td><textarea style="border:none"></textarea></td>
            </tr>
            <tr>
                <td><textarea style="border:none"></textarea></td>
                <td><textarea style="border:none"></textarea></td>
                <td><textarea style="border:none"></textarea></td>
                @if (date.Month <= 6)
                {
                    <td>
                        <textarea style="border:none">
JAN -   
FEB -   
MARCH -   
APRIL -   
MAY -   
JUNE -   </textarea>
                    </td>
                }
                else if (date.Month >= 7)
                {
                    <td>
                        <textarea style="border:none">
JULY -   
AUG -   
SEPT -   
OCT -   
NOV -   
DEC -   </textarea>
                    </td>
                }
                <td><textarea style="border:none"></textarea></td>
                <td><textarea style="border:none"></textarea></td>
                <td>
                    <textarea style="border:none">
Q -   
E -   
T -   
A -   
</textarea>
                </td>
                <td><textarea style="border:none"></textarea></td>
            </tr>
            <tr>
                <td><textarea style="border:none"></textarea></td>
                <td><textarea style="border:none"></textarea></td>
                <td><textarea style="border:none"></textarea></td>
                @if (date.Month <= 6)
                {
                    <td>
                        <textarea style="border:none">
JAN -   
FEB -   
MARCH -   
APRIL -   
MAY -   
JUNE -   </textarea>
                    </td>
                }
                else if (date.Month >= 7)
                {
                    <td>
                        <textarea style="border:none">
JULY -   
AUG -   
SEPT -   
OCT -   
NOV -   
DEC -   </textarea>
                    </td>
                }
                <td><textarea style="border:none"></textarea></td>
                <td><textarea style="border:none"></textarea></td>
                <td>
                    <textarea style="border:none">
Q -   
E -   
T -   
A -   
</textarea>
                </td>
                <td><textarea style="border:none"></textarea></td>
            </tr>
            <tr>
                <td><textarea style="border:none"></textarea></td>
                <td><textarea style="border:none"></textarea></td>
                <td><textarea style="border:none"></textarea></td>
                @if (date.Month <= 6)
                {
                    <td>
                        <textarea style="border:none">
JAN -   
FEB -   
MARCH -   
APRIL -   
MAY -   
JUNE -   </textarea>
                    </td>
                }
                else if (date.Month >= 7)
                {
                    <td>
                        <textarea style="border:none">
JULY -   
AUG -   
SEPT -   
OCT -   
NOV -   
DEC -   </textarea>
                    </td>
                }
                <td><textarea style="border:none"></textarea></td>
                <td><textarea style="border:none"></textarea></td>
                <td>
                    <textarea style="border:none">
Q -   
E -   
T -   
A -   
</textarea>
                </td>
                <td><textarea style="border:none"></textarea></td>
            </tr>
            <tr>
                <td><textarea style="border:none"></textarea></td>
                <td><textarea style="border:none"></textarea></td>
                <td><textarea style="border:none"></textarea></td>
                @if (date.Month <= 6)
                {
                    <td>
                        <textarea style="border:none">
JAN -   
FEB -   
MARCH -   
APRIL -   
MAY -   
JUNE -   </textarea>
                    </td>
                }
                else if (date.Month >= 7)
                {
                    <td>
                        <textarea style="border:none">
JULY -   
AUG -   
SEPT -   
OCT -   
NOV -   
DEC -   </textarea>
                    </td>
                }
                <td><textarea style="border:none"></textarea></td>
                <td><textarea style="border:none"></textarea></td>
                <td>
                    <textarea style="border:none">
Q -   
E -   
T -   
A -   
</textarea>
                </td>
                <td><textarea style="border:none"></textarea></td>
            </tr>
            <tr>
                <td><textarea style="border:none"></textarea></td>
                <td><textarea style="border:none"></textarea></td>
                <td><textarea style="border:none"></textarea></td>
                @if (date.Month <= 6)
                {
                    <td>
                        <textarea style="border:none">
JAN -   
FEB -   
MARCH -   
APRIL -   
MAY -   
JUNE -   </textarea>
                    </td>
                }
                else if (date.Month >= 7)
                {
                    <td>
                        <textarea style="border:none">
JULY -   
AUG -   
SEPT -   
OCT -   
NOV -   
DEC -   </textarea>
                    </td>
                }
                <td><textarea style="border:none"></textarea></td>
                <td><textarea style="border:none"></textarea></td>
                <td>
                    <textarea style="border:none">
Q -   
E -   
T -   
A -   
</textarea>
                </td>
                <td><textarea style="border:none"></textarea></td>
            </tr>
            <tr>
                <td><textarea style="border:none"></textarea></td>
                <td><textarea style="border:none"></textarea></td>
                <td><textarea style="border:none"></textarea></td>
                @if (date.Month <= 6)
                {
                    <td>
                        <textarea style="border:none">
JAN -   
FEB -   
MARCH -   
APRIL -   
MAY -   
JUNE -   </textarea>
                    </td>
                }
                else if (date.Month >= 7)
                {
                    <td>
                        <textarea style="border:none">
JULY -   
AUG -   
SEPT -   
OCT -   
NOV -   
DEC -   </textarea>
                    </td>
                }
                <td><textarea style="border:none"></textarea></td>
                <td><textarea style="border:none"></textarea></td>
                <td>
                    <textarea style="border:none">
Q -   
E -   
T -   
A -   
</textarea>
                </td>
                <td><textarea style="border:none"></textarea></td>
            </tr>
            <tr>
                <td><textarea style="border:none"></textarea></td>
                <td><textarea style="border:none"></textarea></td>
                <td><textarea style="border:none"></textarea></td>
                @if (date.Month <= 6)
                {
                    <td>
                        <textarea style="border:none">
JAN -   
FEB -   
MARCH -   
APRIL -   
MAY -   
JUNE -   </textarea>
                    </td>
                }
                else if (date.Month >= 7)
                {
                    <td>
                        <textarea style="border:none">
JULY -   
AUG -   
SEPT -   
OCT -   
NOV -   
DEC -   </textarea>
                    </td>
                }
                <td><textarea style="border:none"></textarea></td>
                <td><textarea style="border:none"></textarea></td>
                <td>
                    <textarea style="border:none">
Q -   
E -   
T -   
A -   
</textarea>
                </td>
                <td><textarea style="border:none"></textarea></td>
            </tr>
            <tr>
                <td><textarea style="border:none"></textarea></td>
                <td><textarea style="border:none"></textarea></td>
                <td><textarea style="border:none"></textarea></td>
                @if (date.Month <= 6)
                {
                    <td>
                        <textarea style="border:none">
JAN -   
FEB -   
MARCH -   
APRIL -   
MAY -   
JUNE -   </textarea>
                    </td>
                }
                else if (date.Month >= 7)
                {
                    <td>
                        <textarea style="border:none">
JULY -   
AUG -   
SEPT -   
OCT -   
NOV -   
DEC -   </textarea>
                    </td>
                }
                <td><textarea style="border:none"></textarea></td>
                <td><textarea style="border:none"></textarea></td>
                <td>
                    <textarea style="border:none">
Q -   
E -   
T -   
A -   
</textarea>
                </td>
                <td><textarea style="border:none"></textarea></td>
            </tr>
            <tr>
                <td><textarea style="border:none"></textarea></td>
                <td><textarea style="border:none"></textarea></td>
                <td><textarea style="border:none"></textarea></td>
                @if (date.Month <= 6)
                {
                    <td>
                        <textarea style="border:none">
JAN -   
FEB -   
MARCH -   
APRIL -   
MAY -   
JUNE -   </textarea>
                    </td>
                }
                else if (date.Month >= 7)
                {
                    <td>
                        <textarea style="border:none">
JULY -   
AUG -   
SEPT -   
OCT -   
NOV -   
DEC -   </textarea>
                    </td>
                }
                <td><textarea style="border:none"></textarea></td>
                <td><textarea style="border:none"></textarea></td>
                <td>
                    <textarea style="border:none">
Q -   
E -   
T -   
A -   
</textarea>
                </td>
                <td><textarea style="border:none"></textarea></td>
            </tr>

            <tr>
                <td colspan="8">Rating</td>
            </tr>
            <tr>
                <td colspan="7">Total overall rating</td>
                <td><input style="border:none" type="text"></td>
            </tr>
            <tr>
                <td colspan="7">Final average rating</td>
                <td><input style="border:none" type="text"></td>
            </tr>
            <tr>
                <td colspan="7">Adjective rating</td>
                <td><input style="border:none" type="text"></td>
            </tr>
            <tr>
                <td colspan="7">Comments and recommendations for development purposes</td>
                <td><input style="border:none" type="text"></td>
            </tr>
            <tr>
                <td>Discussed with:</td>
                <td>
                    Assessed by:

                    I certify that I discussed my assessment of the performance with employee.
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td>Date</td>
                <td>
                    Final rating by:
                </td>
                <td>Date @date.ToString("MMMM dd, yyyy")</td>
            </tr>
            <tr>
                <td>
                    @appUser.FullName -

                    Employee
                </td>
                <td>
                    VIOLETA B. SALDA, PhD -

                    Supervisor
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    VIOLETA B. SALDA, PhD -

                    Next higher supervisor
                </td>
                <td></td>
            </tr>

        </table>
        <br />

        <p class="pull-left">Legend: 1 - Quality &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   2 - Efficiency  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   3 - Timeliness &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4 - Average</p> <br />
        <br />

    </section>
<!-- /.content -->
<!--modal placeholder-->
<div class="modal modal-primary fade" id="modalDefault">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>



@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/views/supportengineer/index.js"></script>
}

