@model src.Models.ShortTrip
@{
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">View Data</h4>
</div>

<form onsubmit="return SubmitAddEdit(this)">
    <div class="box-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ticketingId" />
        <div class="row">
            <div class="col-lg-6 form-group">
                <label asp-for="TimeIn">Time in: </label>
                <label class="text-warning">@Model.TimeIn.ToString("MMMM dd, yyyy / hh:mm tt")</label>
            </div>
            @if (Model.TimeOut != null)
            {
                <div class="col-lg-6 form-group">
                    <label asp-for="TimeOut">Time out: </label>
                    <label class="text-warning">@Model.TimeOut.Value.ToString("MMMM dd, yyyy / hh:mm tt")</label>
                </div>
            }
            else
            {
                ;
            }
        </div>
        <div class="row">
            <div class="col-lg-6 form-group">
                <label asp-for="PlateNumber">Plate number: </label>
                <label class="text-warning">@Model.PlateNumber</label>
            </div>
            <div class="col-lg-6 form-group">
                <label asp-for="ParkingNumber">Parking number: </label>
                <label class="text-warning">@Model.ParkingNumber</label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 form-group">
                <div class="form-group">
                    <label asp-for="DateInspectedIn">Time inspected(in): </label>
                    <label class="text-warning">
                        @if (Model.DateInspectedIn.Equals(null))
                        {
                            ;
                        }
                        else if (!Model.DateInspectedIn.Value.Equals(null))
                        {
                            @Model.DateInspectedIn.Value.ToString("MMMM dd, yyyy / hh:mm tt");
                        }
                    </label>
                </div>
            </div>
            <div class="col-lg-6 form-group">
                <div class="form-group">
                    <label asp-for="DateInspectedOut">Time inspected(out): </label>
                    <label class="text-warning">
                        @if (Model.DateInspectedOut.Equals(null))
                        {
                            ;
                        }
                        else if (!Model.DateInspectedOut.Value.Equals(null))
                        {
                            @Model.DateInspectedOut.Value.ToString("MMMM dd, yyyy / hh:mm tt");
                        }
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 form-group">
                <label asp-for="CommodityIn">Commodity(in): </label>
                <label class="text-warning">@Model.CommodityIn</label>
            </div>
            <div class="col-lg-6 form-group">
                <div class="form-group">
                    <label asp-for="CommodityOut">Commodity(out): </label>
                    <label class="text-warning">@Model.CommodityOut</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 form-group">
                <div class="form-group">
                    <label asp-for="EstimatedVolumeIn">Estimated volume(in): </label>
                    <label class="text-warning">@Model.EstimatedVolumeIn</label>
                </div>
            </div>
            <div class="col-lg-6 form-group">
                <div class="form-group">
                    <label asp-for="EstimatedVolumeOut">Estimated volume(out): </label>
                    <label class="text-warning">@Model.EstimatedVolumeOut</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 form-group">
                <div class="form-group">
                    <label asp-for="InspectorIn">Inspector(in): </label>
                    <label class="text-warning">@Model.InspectorIn</label>
                </div>
            </div>
            <div class="col-lg-6 form-group">
                <div class="form-group">
                    <label asp-for="InspectorOut">Inspector(out): </label>
                    <label class="text-warning">@Model.InspectorOut</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 form-group">
                <div class="form-group">
                    <label asp-for="RemarksIn">Remarks(in): </label>
                    <label class="text-warning">@Model.RemarksIn</label>
                </div>
            </div>
            <div class="col-lg-6 form-group">
                <div class="form-group">
                    <label asp-for="RemarksOut">Remarks(out): </label>
                    <label class="text-warning">@Model.RemarksOut</label>
                </div>
            </div>
        </div>

    </div>
    <div class="box-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
    </div>
</form>
<script>
    Ladda.bind('.btn', { timeout: 1000 });
    $('.form_datetime').datetimepicker({
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
    });
</script>



