@model src.Models.MarketFacilitators
@{
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">View Data</h4>
</div>

<form onsubmit="return SubmitAddEdit(this)">
    <div class="box-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />


        <div class="form-group">
            <label asp-for="DateOfApplication">Date: </label>
            <label class="text-warning">@Model.DateOfApplication.ToString("MMMM dd, yyyy")</label>
        </div>

        <div class="row">
            <div class="col-lg-6 form-group">
                <label asp-for="PlateNumber">Plate number: </label>
                <label class="text-warning">@Model.PlateNumber</label>
            </div>
            <div class="col-lg-6 form-group">
                <label asp-for="Name">Name: </label>
                <label class="text-warning">@Model.Name</label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 form-group">
                <label asp-for="IdNumber">Id number: </label>
                <label class="text-warning">@Model.IdNumber</label>
            </div>
            <div class="col-lg-6 form-group">
                <label asp-for="NickName">Nickname: </label>
                <label class="text-warning">@Model.NickName</label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 form-group">
                <label asp-for="NameOfSpouse">Name of spouse: </label>
                <label class="text-warning">@Model.NameOfSpouse</label>
            </div>
            <div class="col-lg-6 form-group">
                <div class="form-group">
                    <label asp-for="NameOfAssociation">Association: </label>
                    <label class="text-warning">@Model.NameOfAssociation</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 form-group">
                <div class="form-group">
                    <label asp-for="Barangay">Barangay: </label>
                    <label class="text-warning">@Model.Barangay</label>
                </div>
            </div>
            <div class="col-lg-6 form-group">
                <div class="form-group">
                    <label asp-for="Municipality">Municipality: </label>
                    <label class="text-warning">@Model.Municipality</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 form-group">
                <div class="form-group">
                    <label asp-for="Province">Province: </label>
                    <label class="text-warning">@Model.Province</label>
                </div>
            </div>
            <div class="col-lg-6 form-group">
                <div class="form-group">
                    <label asp-for="PresentAddress">Present address: </label>
                    <label class="text-warning">@Model.PresentAddress</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 form-group">
                <div class="form-group">
                    <label asp-for="BirthDate">BirthDate: </label>
                    <label class="text-warning">@Model.BirthDate</label>
                </div>
            </div>
            <div class="col-lg-6 form-group">
                <div class="form-group">
                    <label asp-for="ContactNumber">ContactNumber: </label>
                    <label class="text-warning">@Model.ContactNumber</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 form-group">
                <div class="form-group">
                    <label asp-for="BusinessName">BusinessName: </label>
                    <label class="text-warning">@Model.BusinessName</label>
                </div>
            </div>
            <div class="col-lg-6 form-group">
                <div class="form-group">
                    <label asp-for="BusinessAddress">BusinessAddress: </label>
                    <label class="text-warning">@Model.BusinessAddress</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 form-group">
                <div class="form-group">
                    <label asp-for="Tin">Tin: </label>
                    <label class="text-warning">@Model.Tin</label>
                </div>
            </div>
            <div class="col-lg-6 form-group">
                <div class="form-group">
                    <label asp-for="MajorCommodity">Major commodity: </label>
                    <label class="text-warning">@Model.MajorCommodity</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 form-group">
                <label asp-for="ReferenceNumber">Reference number: </label>
                <label class="text-warning">@Model.ReferenceNumber</label>
            </div>
            <div class="col-lg-6 form-group">
                <div class="form-group">
                    <label asp-for="Remarks">Remarks: </label>
                    <label class="text-warning">@Model.Remarks</label>
                </div>
            </div>
        </div>

    </div>
    <div class="box-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
    </div>
</form>
