@model IEnumerable<src.Models.Organization>
@inject UserManager<ApplicationUser> UserManager
@inject src.Data.ApplicationDbContext Context
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdminlteWallpaperMobile.cshtml";
    ApplicationUser appUser = await UserManager.GetUserAsync(User);
    Guid cust = Guid.Empty;
    if (appUser.IsCustomer)
    {
        Contact contact = Context.Contact.Where(x => x.applicationUserId.Equals(appUser.Id)).FirstOrDefault();
        Customer customer = (contact != null) ? Context.Customer.Where(x => x.customerId.Equals(contact.customerId)).FirstOrDefault() : null;
        cust = (customer != null) ? customer.customerId : Guid.Empty;
    }
    var selectedRoles = Context.ApplicationUser.Where(x => x.UserId.Equals(appUser.UserId)).FirstOrDefault();
    var selectedModules = Context.Role.Where(x => x.Name.Equals(selectedRoles.RoleId)).Select(m => m.Module).FirstOrDefault();
    string[] listSelectedModule = selectedModules.Split(",");
    //string[] addedModule = new string[] { };
    string[] addedModule = string.IsNullOrEmpty(selectedRoles.Modules) ? new string[] { } : selectedRoles.Modules.Split(",");
    //if (!string.IsNullOrEmpty(selectedRoles.Modules))
    //{
    //    addedModule = selectedRoles.Modules.Split(",");
    //}
    var listModule = listSelectedModule.Union(addedModule);
}

<div class="content">
    <div class="row">
        @foreach (var item in Model)
        {
            if (listModule.Contains(""))
            {

            }

            if (listModule.Contains("Ticketing"))
            {
                <div class="col-lg-4">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h4>Ticketing</h4>

                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>

                        <a href="@Url.Action("TicketingInMobile", "Ticketing", new { org = item.organizationId })" class="small-box-footer"><h3>Enter <i class="fa fa-arrow-circle-right"></i></h3></a>

                    </div>
                </div>
            }

            if (listModule.Contains("TradingInspector"))
            {
                <div class="col-lg-4">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h4>Trading Inspector</h4>

                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="@Url.Action("TradersTruckMobile", "TradingInspector", new { org = item.organizationId })" class="small-box-footer"><h3>Enter <i class="fa fa-arrow-circle-right"></i></h3></a>

                    </div>
                </div>
            }

            if (listModule.Contains("TradingAndInterTrading"))
            {
                <div class="col-lg-4">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h4>Trading And Inter-trading</h4>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>

                        <a href="@Url.Action("TradingAndInterTradingMobile", "TradingAndInterTrading", new { org = item.organizationId })" class="small-box-footer"><h3>Enter <i class="fa fa-arrow-circle-right"></i></h3></a>

                    </div>
                </div>
            }

        }

        @foreach (var item in Model)
        {
            if (listModule.Contains("Security"))
            {
                <div class="col-lg-4">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h4>Security</h4>

                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>

                        <a href="@Url.Action("SecurityInspectionReportMobile", "Security", new { org = item.organizationId })" class="small-box-footer"><h3>Enter <i class="fa fa-arrow-circle-right"></i></h3></a>

                    </div>
                </div>
            }

            if (listModule.Contains("Repair"))
            {
                <div class="col-lg-4">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h4>Repair</h4>

                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>

                        <a href="@Url.Action("VehicleRepairMobile", "Repair", new { org = item.organizationId })" class="small-box-footer"><h3>Enter <i class="fa fa-arrow-circle-right"></i></h3></a>

                    </div>
                </div>
            }

            if (listModule.Contains("PriceCommodities"))
            {
                <div class="col-lg-4">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h4>Price Commodities</h4>

                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>

                        <a href="@Url.Action("PriceMobile", "PriceCommodity", new { org = item.organizationId })" class="small-box-footer"><h3>Enter <i class="fa fa-arrow-circle-right"></i></h3></a>

                    </div>
                </div>
            }

            if (listModule.Contains("Accreditation"))
            {
                <div class="col-lg-4">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h4>Accreditation</h4>

                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>

                        <a href="@Url.Action("InterTradersMobile", "Accreditation", new { org = item.organizationId })" class="small-box-footer"><h3>Enter <i class="fa fa-arrow-circle-right"></i></h3></a>

                    </div>
                </div>
            }

            if (listModule.Contains("Ticketing"))
            {
                <div class="col-lg-4">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h4>Stakeholders</h4>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>

                        <a href="@Url.Action("BuyersMobile", "Stakeholders", new { org = item.organizationId })" class="small-box-footer"><h3>Enter <i class="fa fa-arrow-circle-right"></i></h3></a>

                    </div>
                </div>
            }

            if (listModule.Contains("DeletedDatas"))
            {
                <div class="col-lg-4" id="btn-Ticketing">
                    <!-- small box -->

                    <div class="small-box bg-green">
                        <div class="inner">
                            <h4>Deleted Datas</h4>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="@Url.Action("ViewDeletedDatasMobile", "DeletedDatas", new { org = item.organizationId })" class="small-box-footer"><h3>Enter <i class="fa fa-arrow-circle-right"></i></h3></a>
                    </div>
                </div>
            }

        }
           
        @foreach (var item in Model)
        {

            if (listModule.Contains("Reports"))
            {
                if (listModule.Contains("Ticketing"))
                {
                    <div class="col-lg-4" id="btn-Ticketing">
                        <!-- small box -->

                        <div class="small-box bg-green">
                            <div class="inner">
                                <h4>Reports</h4>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                            <a href="@Url.Action("TicketingReports", "ReportsMobile", new { org = item.organizationId })" class="small-box-footer"><h3>Enter <i class="fa fa-arrow-circle-right"></i></h3></a>
                        </div>
                    </div>
                }

                else if (listModule.Contains("TradingInspector"))
                {
                    <div class="col-lg-4" id="btn-Trading">
                        <!-- small box -->

                        <div class="small-box bg-green">
                            <div class="inner">
                                <h4>Reports</h4>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                            <a href="@Url.Action("TradersTruckReports", "ReportsMobile", new { org = item.organizationId })" class="small-box-footer"><h3>Enter <i class="fa fa-arrow-circle-right"></i></h3></a>
                        </div>
                    </div>
                }

                else if (listModule.Contains("TradingAndInterTrading"))
                {
                    <div class="col-lg-4" id="btn-InterTrading">
                        <!-- small box -->

                        <div class="small-box bg-green">
                            <div class="inner">
                                <h4>Reports</h4>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                            @*<a href="@Url.Action("TicketingReports", "Reports", new { org = item.organizationId })" class="small-box-footer"><h3>Enter <i class="fa fa-arrow-circle-right"></i></h3></a>*@
                            <a href="@Url.Action("InterTradingReports", "ReportsMobile", new { org = item.organizationId })" class="small-box-footer"><h3>Enter <i class="fa fa-arrow-circle-right"></i></h3></a>
                        </div>
                    </div>
                }

                else if (listModule.Contains("Security"))
                {
                    <div class="col-lg-4" id="btn-Security">
                        <!-- small box -->

                        <div class="small-box bg-green">
                            <div class="inner">
                                <h4>Reports</h4>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                            @*<a href="@Url.Action("TicketingReports", "Reports", new { org = item.organizationId })" class="small-box-footer"><h3>Enter <i class="fa fa-arrow-circle-right"></i></h3></a>*@
                            <a href="@Url.Action("SecurityReports", "ReportsMobile", new { org = item.organizationId })" class="small-box-footer"><h3>Enter <i class="fa fa-arrow-circle-right"></i></h3></a>
                        </div>
                    </div>
                }

                else if (listModule.Contains("Repair"))
                {
                    <div class="col-lg-4" id="btn-Repair">
                        <!-- small box -->

                        <div class="small-box bg-green">
                            <div class="inner">
                                <h4>Reports</h4>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                            @*<a href="@Url.Action("TicketingReports", "Reports", new { org = item.organizationId })" class="small-box-footer"><h3>Enter <i class="fa fa-arrow-circle-right"></i></h3></a>*@
                            <a href="@Url.Action("RepairReports", "ReportsMobile", new { org = item.organizationId })" class="small-box-footer"><h3>Enter <i class="fa fa-arrow-circle-right"></i></h3></a>
                        </div>
                    </div>
                }

                else if (listModule.Contains("PriceCommodities"))
                {
                    <div class="col-lg-4" id="btn-Price">
                        <!-- small box -->

                        <div class="small-box bg-green">
                            <div class="inner">
                                <h4>Reports</h4>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                            @*<a href="@Url.Action("TicketingReports", "Reports", new { org = item.organizationId })" class="small-box-footer"><h3>Enter <i class="fa fa-arrow-circle-right"></i></h3></a>*@
                            <a href="@Url.Action("PriceCommodityReports", "ReportsMobile", new { org = item.organizationId })" class="small-box-footer"><h3>Enter <i class="fa fa-arrow-circle-right"></i></h3></a>
                        </div>
                    </div>
                }

                else if (listModule.Contains("Accreditation"))
                {
                    <div class="col-lg-4" id="btn-Accreditation">
                        <!-- small box -->

                        <div class="small-box bg-green">
                            <div class="inner">
                                <h4>Reports</h4>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                            @*<a href="@Url.Action("TicketingReports", "Reports", new { org = item.organizationId })" class="small-box-footer"><h3>Enter <i class="fa fa-arrow-circle-right"></i></h3></a>*@
                            <a href="@Url.Action("AccreditationReports", "ReportsMobile", new { org = item.organizationId })" class="small-box-footer"><h3>Enter <i class="fa fa-arrow-circle-right"></i></h3></a>
                        </div>
                    </div>
                }

            }

            if (listModule.Contains("Settings"))
            {
                <div class="col-lg-4">
                    <!-- small box -->
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h4>Settings</h4>

                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>

                        <a href="@Url.Action("UserRolesMobile", "Settings", new { org = item.organizationId })" class="small-box-footer"><h3>Enter <i class="fa fa-arrow-circle-right"></i></h3></a>

                    </div>
                </div>
            }

        }
    </div>
</div>





